<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="bg-color">

  <div class="app-logo">
    <img src="assets/img/app-logo.png" />
  </div>


  <div class="login-form">
    <ion-item>
      <ion-label position="floating">Mobile Number</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>

    <ion-button class="log-btn">Login</ion-button>
  </div>

</ion-content>